.box {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: green;
}

.image-box1 {
  width: 100px;
  height: 100px;
  background-image: url("../../public/assets/micky-mouse.png");
  background-size: cover;
}

.image-box2 {
  width: 300px;
  height: 300px;
  background-image: url("../../public/assets/Shinchan.jpeg");
  background-size: cover;
}

.image-box3 {
  width: 200px;
  height: 200px;
  background-image: url("../../public/assets/will-smith-chris-rock.gif");
  background-size: cover;
}
